{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/password_change_form.css' %}">
<div id="container">
    <div id="item">
        <form action="" novalidate method="post">
            <h1 class="header">change password</h1>
            {% csrf_token %}
            <label for="" class="messages">enter your old password</label>
            <div>{{form.old_password}}</div>
            {% if form.errors.old_password %}
            <label for="" class="text-danger"> {{form.errors.old_password}} </label>
            {% endif %}
            <br>
            <label class="messages" for="">enter your new password</label>
            <div>{{form.new_password1}}</div>
            {% if form.errors.new_password1 %}
            <label for="" class="text-danger"> {{form.errors.new_password1}} </label>
            {% endif %}
            <br>
            <label class="messages" for="">Re-enter your new password</label>
            <div>{{form.new_password2}}</div>
            {% if form.errors.new_password2 %}
            <label for="" class="text-danger"> {{form.errors.new_password2}} </label>
            {% endif %}
            <button class="btn btn-primary confirm-view" type="submit">change password</button>
            <a href="{% url 'loginpage' %}">back to login</a>
        </form>
       
    </div>
</div>
{% endblock content %}


