{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset_sent.css' %}">
<div id="container">
    <div id="item">
<p class="header">password reset send</p>
<br>
<p class="first-content">we've emailed you the instructions for setting your new passord, if an account exixts wuth the email you entered. you should receive them shortly. </p>
<br>
<p class="second-content">if you dont't receive an email, please make sure you've entered the address you registred with, and check your spam folder</p>
</div>
</div>
{% endblock content %}