{% extends 'index.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'css/password_reset_form.css' %}">
<div id="container">
<div id="item">
    <h1 class="header">reset your password</h1>
    {% if validlink %}
    <p class="confirm-view">please enter your new password twice</p>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        <label for="" class="messages">enter your new password</label>
        <br>
        <div>
            {{form.new_password1}}</div>
            {% if form.errors.new_password1 %}
            <label for="" class="text-danger"> {{form.errors.new_password1}} </label>
            {% endif %}
            <br>
        <label class="messages" for="">confirm  password</label>
        <br>
        <div>
            {{form.new_password2}}</div>
            {% if form.errors.new_password2 %}
            <label for="" class="text-danger"> {{form.errors.new_password2}} </label>
            {% endif %}
        <p><input type="submit" class="bg-success text-white" value="Change my password"></p>

    </form>
    {% else %}
    <div class="alert alert-info mt-2">
        The link you follewd has expired! To login or reset password again click 
        <a href="{% url '/' %}">here</a>
      </div>
    {% endif %}
    
    
</div>
</div>

{% endblock content %}