*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 150px;
    /* border: solid; */
    
}
#item{
    width: 700px;
    height: 300px;
}
.header{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    border-bottom: solid 1px rgb(9, 9, 255);
}
.error-message{
    text-transform: capitalize;
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-top: 40px;
}
.confirm-view{
    text-transform: capitalize;
    font-size: 20px;
    margin: 30px;
}
form .messages{
    text-transform: capitalize;
    margin-top: 20px;
    
}
.bg-success{
    color: white;
    background-color: green;
    border: none;
    height: 50px;
    width: 200px;
    /* margin-top: 10px; */
    border-radius: 10px;
    text-transform: capitalize;
    cursor: pointer;
}