*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#container #item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    
    
}
.header{
    text-transform: capitalize;
    font-size: 50px;
    text-align: center;

}
.content{
    text-transform: capitalize;
    font-size: 22px;
    width: 500px;
    text-align: center;
}
.email_box{
   
    text-align: center;
    margin-top: 50px;
}
.submit .confirm_email{
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    margin-top:30px
}