*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#container{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 150px;
    /* border: solid; */
    
}
#item{
    width: 700px;
    height: 300px;
}
.header{
    font-size: 50px;
    text-transform: capitalize;
    font-weight: 400;
    word-spacing: 5px;
    letter-spacing: 2px;
    border-bottom: solid 1px rgb(9, 9, 255);
}
.message{
    text-transform: capitalize;
    font-size: 25px;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin-top: 40px;
}